@font-face {
  font-family: 'FuturaStd-CondensedBold';
  src: url('../fonts/FuturaStdBoldCondensed.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  font: 1em/1.5 sans-serif;
  color: #000;
}

a {
  color: #577a00;
  text-decoration:none;
}

a:hover {
  color: #45cc00;
}

select {
  height: 30px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## ALERT
/*---------------------------------------------------------------------------------------------*/
.Alert {
  display: block;
  padding: 0.75rem;
  padding-right: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: #f8f9fa;
  color: #0c0c0c;
}
.Alert--closable .Close {
  position: relative;
  right: -20px;
  color: inherit;
}
.Alert--error {
  background-color: #dc3545;
  color: #fff;
}
.Alert--success {
  background-color: #1aa71a;
  color: #fff;
}
.Alert a {
  color: rgba(255, 255, 255, 0.7);
}

/*---------------------------------------------------------------------------------------------*/
/* ## BACKGROUND
/*---------------------------------------------------------------------------------------------*/
.Background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/images/bg.png");
  z-index:-1;
}
.Background::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/*---------------------------------------------------------------------------------------------*/
/* ## BANNER_IMG
/*---------------------------------------------------------------------------------------------*/
.BannerImg {
  display: block;
  cursor: default;
  margin-bottom: 24px;
  color: #fff;
  height:218px;
}

/*---------------------------------------------------------------------------------------------*/
/* BON_CONTENT
/*---------------------------------------------------------------------------------------------*/
.Bon {
  display:block;
}
.Bon-img {
  display:block;
  margin-bottom:12px;
}
.Bon-block {
  display: flex;
  flex-direction: column;
}
.Bon-block-text {
  flex: 1;
}
.Bon-block-picture {
  flex: 1;
}
@media screen and (min-width: 567px) {
  .Bon-block {
    flex-direction: row;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## BUTTON
/*---------------------------------------------------------------------------------------------*/
.Button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: 0.6em 1em;
  border: 0;
  border-radius: 5px;
  background-color: #d1d1d1;
  color: #292929;
  border-color: #fff;
}
.Button:hover,
.Button:focus {
  background-color: #b6b6b6;
  color: #292929;
}
.Button,
.Button:hover {
  text-decoration: none;
}
.Button:focus {
  outline: 0;
}
.Button--primary {  
  background-color: #45cc00;
  color: #ececec;
}
.Button--primary:hover,
.Button--primary:focus {
  background-color: #3ebb00;
  color: #fff;
}
.Button--danger {  
  background-color: #cc0022;
  color: #ececec;
}
.Button--danger:hover,
.Button--danger:focus {
  background-color: #bb002f;
  color: #fff;
}
.Button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.Button--link, .Button--link:hover {
  background-color: transparent;
  border-color: transparent;
}
.Button--disabled {
  pointer-events: none;
  opacity: 0.7;
  filter: alpha(opacity=70%);
  user-select: none;
}
.Button--sm {
  padding: 0.4em 0.5em;
}
.Button--lg {
  padding: 1.5em 1.5em;
}
.Button--xl {
  padding: 2em 2em;
}
.Button--block {
  display: block;
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.Button--alpha {
  font-size: 3rem;
}
.Button--beta {
  font-size: 2rem;
}
.Button--gamma {
  font-size: 1rem;
}
.Button--important {
  font-weight: bold;
}
.Button--icon {
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight:bold;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Button--icon-ico {
  width: 17px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## CLOSE
/*---------------------------------------------------------------------------------------------*/
.Close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  opacity:0.2;

  color: #808080;
}
.Close:hover,
.Close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity:0.5;
}

/*---------------------------------------------------------------------------------------------*/
/* ## CONTAINER
/*---------------------------------------------------------------------------------------------*/
.Container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 920px;
  background-color:#fff;
  margin-right: auto;
  margin-left: auto;
}

/*---------------------------------------------------------------------------------------------*/
/* ## CHOOSE_PRESTATION
/*---------------------------------------------------------------------------------------------*/
.ChoosePrestation {
  display: block;
  margin-bottom: 1rem;
}
.ChoosePrestation-header {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 6px;
  background-color: #838383;
}
.ChoosePrestation-items {
  margin-bottom: 10px;
}
.ChoosePrestation-items:last-of-type {
  margin-bottom: 0;
}
.ChoosePrestation-radio {
  display:none;
}
.ChoosePrestation-radio:checked + .ChoosePrestation-item {
  background-color: #6ab730;;
  color: #fff;
}
.ChoosePrestation-item {
  display:block;
  font-size: 0.9rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color:#000;
  cursor:pointer;
}
.ChoosePrestation-item:last-of-type {
  border-bottom: none;
}
.ChoosePrestation-item:hover, .ChoosePrestation-item.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.ChoosePrestation-item.selected {
  background-color: rgba(0, 0, 0, 0.5);
}
.ChoosePrestation-item-top {
  display:block;
}
.ChoosePrestation-item-top-name {
  display:inline;
  text-transform: uppercase;
  margin-right: 5px;
}
.ChoosePrestation-item-top-description {
  display:inline;
  margin-right: 5px;
}
.ChoosePrestation-item-bottom {
  display: flex;
  flex-wrap: wrap;
}
.ChoosePrestation-item-bottom-time {
  font-style: oblique;
  margin-right: 5px;
}
.ChoosePrestation-item-bottom-price {
  display: inline-block;
  font-weight: bold;
}
.ChoosePrestation-item-bottom-separator {
  flex: 1;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## RESERVE_CONFIRMED
/*---------------------------------------------------------------------------------------------*/
.ReserveConfirmed {
  display: block;
  text-align: center;
  color: #000;
}
.ReserveConfirmed-icon {
  width: 64px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.ReserveConfirmed-warning {
  color: rgb(0, 183, 255);
  margin-bottom: 24px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## EMPTY_BOX
/*---------------------------------------------------------------------------------------------*/
.EmptyBox {
  display: block;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #000;
  background-color: #ececec;
}

/*---------------------------------------------------------------------------------------------*/
/* ## FORM
/*---------------------------------------------------------------------------------------------*/
.Form {
  display: block;
}
.Form--inline {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.Form--inline .FormField {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## FORM_FIELD
/*---------------------------------------------------------------------------------------------*/
.FormField {
  display: block;
  margin-bottom: 1.5rem;
}
.FormField-label {
  display: block;
  margin-bottom: 0.2em;
}
.FormField-hint {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  color: #808080;
}
.FormField-error {
  display: block;
  font-weight: inherit;
  color: #dc3545;
}
.FormField--inline .FormCtrl,
.FormField--inline .FormField-label {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0.2em;
  width: auto;
}
.FormField--required .FormField-label::after {
  content: " *";
}

/*---------------------------------------------------------------------------------------------*/
/* ## FORM_CTRL
/*---------------------------------------------------------------------------------------------*/
.FormCtrl {
  display: block;
  height:30px;
  min-width: 10px;
  color: #000;
}
.FormCtrl:focus {
  background-color: #fff;
  color: #000;
}
.FormCtrl--disabled,
.FormCtrl:disabled {
  pointer-events: none;
  opacity: 0.7;
  filter: alpha(opacity=70%);
  user-select: none;
}
.FormCtrl--xs {
  width: 50px;
}
.FormCtrl--sm {
  width: 130px;
}
.FormCtrl--md {
  width: 200px;
}
.FormCtrl--lg {
  width: 500px;
}
.FormCtrl--block {
  display: block;
  width: 100%;
}
.FormCtrl--alpha {
  font-size: 20px;
}
.FormCtrl--beta {
  font-size: 12px;
}
.FormCtrl--error {
  background-color: #dc3545;
  color: #fff;
}
.FormCtrl--error:focus {
  background-color: #dc3545;
  color: #fff;
}

/*---------------------------------------------------------------------------------------------*/
/* ## FORM_MODULE
/*---------------------------------------------------------------------------------------------*/
.FormModule {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: #212529;
}
.FormModule-title {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom:5px;
  border-bottom:5px solid #38703b;
  color: #212529;
}
.FormModule .FormField {
  margin-bottom: 0.75rem;
}
.FormModule .FormField-hint {
  font-style: italic;
  color: #777;
  margin-top: 5px;
}
.FormModule .FormField-error {
  font-weight: bold;
  color: #ff0000;
}
.FormModule .Button {
  font-weight: bold;
}
.FormModule-actions {
  display:flex;
  justify-content: space-between;
}
.FormModule-actions-buttonL {
  flex: 1;
  max-width: 380px;
  margin-right: 12px;
}
.FormModule-actions-buttonR {
  flex: 1;
  max-width: 380px;
  margin-left: 12px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## TABLE
/*---------------------------------------------------------------------------------------------*/
.Table {
  display: table;
}
.Table--bordered th,
.Table--bordered td {
  border: 1px solid;
}
.Table--bordered th:empty,
.Table--bordered td:empty {
  border: none;
}
.Table--data {
  font: 12px/1.5 sans-serif;
}
.Table--fixed {
  table-layout: fixed;
}
.Table--fixed td p {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal !important;
}

/*---------------------------------------------------------------------------------------------*/
/* ## FOOTER
/*---------------------------------------------------------------------------------------------*/
.Footer {
  position: relative;
  margin-left: -25px;
  margin-right: -25px;
  margin-top:40px;
  color: #fff;
  border-top: 5px solid #d67a00;
  background-color: #8d5000;
}
.Footer-map {
  width: 100%;
  background-color: #ffffff1f;
  border: 0;
}
.Footer-encarts {
  position: relative;
  display: flex;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(/images/footer-bg-01.png);
  background-position: right;
}
.Footer-encart {
  flex: 1;
  position:relative;
  overflow:hidden;
  font-size:1rem;
  font-weight:bold;
}
.Footer-encart-content {
  padding:20px;
  padding-bottom: 0;
  color:#fff;
}
.Footer-encart-content-title {
  margin-bottom:10px;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffd4a8;
  display: block;
  border-width: 0 0 5px;
  border-style: solid;
  font-family: 'FuturaStd-CondensedBold',Helvetica,Arial,Lucida,sans-serif;
}
.Footer-encart-content-text {
  font-size: 16px;
  line-height: 24px;
  padding:10px;
  padding-left:0;
  color: #fff6ec;
}
.Footer-encartHours {
  display: block;
}
.Footer-encartHours-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 5px;
  font-weight:bold;
}
.Footer-encartHours-list-day {
  min-width: 40px;
  display: inline-block;
}
.Footer-copyright {
  text-align: center;
  background-color: #7a4600;
  color: #ffcc87;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .Footer-encarts {
    flex-direction: column;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## HEADING
/*---------------------------------------------------------------------------------------------*/
.Heading {
  color: #000;
  border-bottom: 5px solid #6ab730;;
  font-weight: normal;
}
.Heading--centered {
  text-align:center;
}

/*---------------------------------------------------------------------------------------------*/
/* ## LIGHTBOX
/*---------------------------------------------------------------------------------------------*/
.Lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.Lightbox-img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}
.Lightbox:target {
  outline: none;
  display: block;
}

/*---------------------------------------------------------------------------------------------*/
/* ## PRICE_LIST
/*---------------------------------------------------------------------------------------------*/
.PriceList {
  display: block;
}
.PriceList-header {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 12px;
  background-color: #838383;
}
.PriceList-items {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff2f2;
}
.PriceList-item {
  font-size: 0.9rem;
  padding: 6px 12px;
}
.PriceList-item-top {
  display:block;
}
.PriceList-item-top-name {
  display:inline;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bolder;
}
.PriceList-item-top-description {
  display:inline;
  margin-right: 5px;
}
.PriceList-item-bottom {
  display: flex;
  flex-wrap: wrap;
}
.PriceList-item-bottom-time {
  font-style: oblique;
  margin-right: 5px;
}
.PriceList-item-bottom-price {
  display: inline-block;
  font-weight: bold;
}
.PriceList-item-bottom-separator {
  flex: 1;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  height:1px;
  background-color:rgba(0, 0, 0, 0.1);
}

/*---------------------------------------------------------------------------------------------*/
/* ## PROGRESS_BAR
/*---------------------------------------------------------------------------------------------*/
.ProgressBar {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin:0;
}
.ProgressBar-item {
  cursor:default;
  list-style-type: none;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  padding-left:5px;
  padding-right:5px;
}
.ProgressBar-item:before {
  width: 30px;
  height: 30px;
  content: '';
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.ProgressBar-item.active {
  color: green;
}
.ProgressBar-item.active:before {
  background-color:#8fdaa8;
  border-color: #55b776;
}

/*---------------------------------------------------------------------------------------------*/
/* ## RESERVE_CARD
/*---------------------------------------------------------------------------------------------*/
.ReserveCard {
  position: relative;
  margin-bottom: 25px;
  color: #000;
}
.ReserveCard-header {
  display: block;
  background: rgb(255, 214, 65);
  padding: 10px;
  cursor:pointer;
}
.ReserveCard-header-title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.ReserveCard-header-prestations {
  text-align: center;
}
.ReserveCard-header-prestations-item {
  font-style:italic;
}
.ReserveCard-body {
  display: none;
}
.ReserveCard-body-infos {
  padding: 10px;
  background: rgb(255, 227, 127);
}
.ReserveCard-body-infos-item {
  display: block;
  margin-bottom:10px;
}
.ReserveCard-body-infos-item-label {
  display:block;
  font-weight: bold;
}
.ReserveCard-body-infos-item-value {
  display:block;
}
.ReserveCard-body-infos-item-value a {
  display: inline-block;
  margin-left: 0.25rem;
}
.ReserveCard-body-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background: rgb(255, 127, 127);
}
.ReserveCard--show .ReserveCard-body {
  display: block;
}

/*---------------------------------------------------------------------------------------------*/
/* ## RESERVE_TICKET
/*---------------------------------------------------------------------------------------------*/
.ReserveTicket {
  position: relative;
  margin-bottom: 25px;
  color: #000;
  display: block;
}
.ReserveTicket-title {
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  background-color: rgb(28 126 0);
  color: #fff;
}
.ReserveTicket-infos {
  padding: 10px;
  background: rgb(255, 227, 127);
}
.ReserveTicket-infos-item {
  display: block;
  margin-bottom:10px;
}
.ReserveTicket-infos-item-label {
  display:block;
  font-weight: bold;
}
.ReserveTicket-infos-item-value {
  display:block;
}
.ReserveTicket-infos-item-value a {
  display: inline-block;
  margin-left: 0.25rem;
}
.ReserveTicket-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
.ReserveTicket-actions-buttonL {
  flex: 1;
  max-width: 380px;
  margin-right: 12px;
  font-weight: bold;
}
.ReserveTicket-actions-buttonR {
  flex: 1;
  max-width: 380px;
  margin-left: 12px;
  font-weight: bold;
}

/*---------------------------------------------------------------------------------------------*/
/* ## RULE
/*---------------------------------------------------------------------------------------------*/
.Rule {
  position: relative;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #000;
}
.Rule--dotted {
  border-bottom-style: dotted;
}
.Rule--dashed {
  border-bottom-style: dashed;
}

/*---------------------------------------------------------------------------------------------*/
/* ## USER_BANNER
/*---------------------------------------------------------------------------------------------*/
.UserBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.UserBanner-welcomeMessage {
  font-style:italic;
}
.UserBanner-welcomeMessage-userlink {
  font-weight: bold;
}
.UserBanner-welcomeMessage-userlink:hover {
  text-decoration: underline;
}
.UserBanner-links-item {
  color: #222222;
  font-style: italic;
}
.UserBanner-links-item:hover,
.UserBanner-links-item.active {
  color: #45cc00;
}
.UserBanner-links-item + .UserBanner-links-item {
  margin-left:10px;
}
@media screen and (min-width: 992px) {
  .UserBanner {
    flex-direction: row;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## SPRITE
/*---------------------------------------------------------------------------------------------*/
.Sprite {
  display: block;
  background-image: url("../images/sprites.png");
}
.Sprite--01 {
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--02 {
  background-position: -25px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--03 {
  background-position: -50px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--04 {
  background-position: -75px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--05 {
  background-position: -100px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--06 {
  background-position: -125px 0px;
  width: 25px;
  height: 25px;
}
.Sprite--07 {
  background-position: 0px -25px;
  width: 40px;
  height: 40px;
}
.Sprite--08 {
  background-position: -40px -25px;
  width: 40px;
  height: 40px;
}
.Sprite--09 {
  background-position: -80px -25px;
  width: 40px;
  height: 40px;
}
.Sprite--10 {
  background-position: 0px -65px;
  width: 40px;
  height: 40px;
}

/*---------------------------------------------------------------------------------------------*/
/* ## TOP_DESKTOP
/*---------------------------------------------------------------------------------------------*/
.TopDesktop {
  display:none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.TopDesktop-brand {
  position:relative;
  margin:0;
}
.TopDesktop-brand-logo {
  display:block;
  width: 255px;
  background-color: #1c7e00;
  padding: 10px;
}
.TopDesktop-nav {
  display: flex;
  flex-direction: row;
}
.TopDesktop-nav-tab {
  position:relative;
  margin-left:20px;
  text-decoration: none;
  color: #222222;
  transition: color .4s ease-in-out;
  font-weight:bold;
}
.TopDesktop-nav-tab:hover {
  color: #6ab730;
}
.TopDesktop-nav-tab.active {
  color: #6ab730;
}
@media screen and (min-width: 992px) {
  .TopDesktop {
    display:flex;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## TOP_MOBILE
/*---------------------------------------------------------------------------------------------*/
.TopMobile {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.TopMobile-brand {
  margin-bottom:20px;
}
.TopMobile-brand-logo {
  display:block;
  background-color:#346e00;
  padding: 10px;
}
.TopMobile-brand-logo-img {
  width: 255px;
}
.TopMobile-menu {
  display: block;
}
.TopMobile-menu-burger {
  display: block;
  background-image: url("../images/sprites.png");
  background-position: -50px -25px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.TopMobile-menu-burger--close {
  background-position: -100px -25px;
}
.TopMobile-submenu {
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top:10px;
}
.TopMobile-submenu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;
}
.TopMobile-submenu-nav-tab {
  text-align: center;
  margin-top:10px;
  position:relative;
  text-decoration: none;
  color: #222222;
  transition: color .4s ease-in-out;
  font-weight:bold;
}
.TopMobile-submenu-nav-tab:hover {
  color: #6ab730;
}
.TopMobile-submenu-nav-tab.active {
  color: #6ab730;
}
@media screen and (min-width: 992px) {
  .TopMobile {
    display:none;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## HOME
/*---------------------------------------------------------------------------------------------*/
.Home {
  display: block;
}
.Home-p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}
.Home-p1-text {
  flex: 1;
  margin-bottom: 12px;
}
.Home-p1-picture {
  max-width: 256px;
}
.Home-p2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.Home-p2-text {
  display:block;
}
.Home-p3 {
  display: block;
  margin-bottom: 24px;
}
.Home-p3-text {
  margin-bottom: 12px;
}
.Home-p3-pictures {
  display:flex;
  margin-left: -5px;
  margin-right: -5px;
}
.Home-p3-pictures-item {
  padding: 5px;
}
.Home-p4 {
  display: flex;
}
.Home-p4-text {
  display: block;
  margin-right: 12px;
}

@media screen and (min-width: 775px) {
  .Home-p1 {
    flex-direction: row;
    align-items: flex-start;
  }
  .Home-p1-text {
    margin-bottom: 0;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## EVENT_CARD
/*---------------------------------------------------------------------------------------------*/
.EventCard {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  margin-bottom: 25px;
  color: #ffffffd9;
  background: center;
}
.EventCard-picture {
  display:none;
  max-width: 300px;
}
.EventCard-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.EventCard-body {
  flex: 1;
  padding: 10px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.05);
}
.EventCard-body-title {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align:center;
}
.EventCard-body-infos {
  margin-bottom:12px;
}
.EventCard-body-infos-item {
  display: flex;
}
.EventCard-body-infos-item-label {
  flex: 1;
}
.EventCard-body-infos-item-value {
  font-weight: bold;
  max-width: 500px;
  text-align: right;
}
.EventCard-body-infos-item-value a {
  display: inline-block;
  margin-left: 0.25rem;
}
.EventCard-body-description {
  display: block;
}
.EventCard-body-actions {
  display: flex;
  justify-content: space-between;
  margin-top:1rem;
}
.EventCard-body-actions-form {
  flex: 1;
}
.EventCard-body-actions-form + .EventCard-body-actions-form {
  margin-left:10px;
}
.EventCard-body-actions-form-button {
  display:block;
  width: 100%;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .EventCard-picture {
    display: block;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## PRODUCT_CARD
/*---------------------------------------------------------------------------------------------*/
.ProductCard {
  position: relative;
  display:flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  color: #000;
  background-color: #F7F7F7;
}
.ProductCard-title {
  display: block;
  font-weight: 600;
  color: #282828;
}
.ProductCard-brand {
  font-size: 14px;
  color: #969696;
}
.ProductCard-subtitle {
  font-size: 14px;
  color: #969696;
}
.ProductCard-stock {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.ProductCard-stock.yes {
  color: green;
}
.ProductCard-stock.no {
  color: red;
}
.ProductCard-price {
  display: flex;
  white-space: nowrap;
  font-weight: 600;
  color: #2e2e2e;
}
.ProductCard-price-value {
  font-size: 26px;
}
.ProductCard-price-sup {
  align-self: flex-start;
  margin-left: 5px;
}
.ProductCard-link {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  background-image: url("../images/sprites.png");
  background-position: 0px -25px;
  width: 38px;
  height: 40px;
}
.ProductCard-link:hover {
  animation:product-card-link-animation 1s linear 1;
}

@keyframes product-card-link-animation {
  0%{transform:rotateZ(0deg);}
  20%{transform:rotateZ(0deg);}
  40%{transform:rotateZ(10deg);}
  60%{transform:rotateZ(-10deg);}
  80%{transform:rotateZ(0deg);}
  100%{transform:rotateZ(0deg);}
}

/*---------------------------------------------------------------------------------------------*/
/* ## PRODUCT_BLOCK
/*---------------------------------------------------------------------------------------------*/
.ProductBlock {
  display:flex;
  flex-direction: column;
}
.ProductBlock-picture {
  display: block;
  width: 260px;
}
.ProductBlock-info {
  display:block;
  flex:2;
}
.ProductBlock-info-title {
  color: #505050;
  font-size: 22px;
  font-weight: 600;
  text-transform: none;
}
.ProductBlock-info-brand {
  text-transform: none;
  font-size: inherit;
  color: #969696;
}
.ProductBlock-info-subtitle {
  margin-bottom: 15px;
  text-transform: none;
  font-size: inherit;
  color: #969696;
}
.ProductBlock-info-description {
  color: #969696;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: justify;
}
.ProductBlock-aside {
  position: relative;
  padding: 9px 20px 21px;
  text-align: center;
  flex: 1;
}
.ProductBlock-aside-price {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #2e2e2e;
}
.ProductBlock-aside-price-value {
  font-size: 26px;
}
.ProductBlock-aside-price-sup {
  align-self: flex-start;
  margin-left: 5px;
}
.ProductBlock-aside-form {
  margin-bottom: 15px;
}

@media screen and (min-width: 800px) {
  .ProductBlock {
    flex-direction: row;
  }
  .ProductBlock-info {
    margin-left: 15px;
  }
  .ProductBlock-aside {
    margin-left:25px;
  }
}

/*---------------------------------------------------------------------------------------------*/
/* ## EVENT_ENCART
/*---------------------------------------------------------------------------------------------*/
.EventEncart {
  position:relative;
  overflow:hidden;
  font-size:1rem;
  margin-bottom:1rem;
  background: center;
}
.EventEncart-content {
  padding:10px;
  color: #ffffffd9;
}
.EventEncart-content-title {
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  font-family: 'FuturaStd-CondensedBold',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
}
.EventEncart-content-text {
  font-size: 16px;
  line-height: 24px;
  padding:10px;
}
.EventEncart-content-link {
  display:block;
  text-align: right;
  color:#d6ffc0;
}

/*---------------------------------------------------------------------------------------------*/
/* ## SUBSCRIBE_ENCART
/*---------------------------------------------------------------------------------------------*/
.SubscribeEncart {
  position:relative;
  overflow:hidden;
  font-size:1rem;
  margin-bottom:1rem;
  background-color: #46351f;
}
.SubscribeEncart-content {
  padding:10px;
  color: #ffffffd9;
}
.SubscribeEncart-content-title {
  display: block;
  margin-bottom: 0.5rem;
}
.SubscribeEncart-content-input {
  margin-bottom: 0.5rem;
  padding: 0.4em 0.5em;
  width: 100%;
}
.SubscribeEncart-content-button {
  display: block;
  padding: 0.4em 0.5em;
  width: 100%;
}

/*---------------------------------------------------------------------------------------------*/
/* ## PAGINATION
/*---------------------------------------------------------------------------------------------*/
.Pagination {
  display:flex;
  justify-content: center;
}
.Pagination-link + .Pagination-link {
  margin-left:5px;
}
.Pagination-link {
  display:block;
}
.Pagination-link--active {
  color: #000;
}

/*---------------------------------------------------------------------------------------------*/
/* ## HEADER
/*---------------------------------------------------------------------------------------------*/
.Header {
  padding-top: 20px;
}